#pro_search_bar{
    width: 100%;
    
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    .w80{
        width: 80%;
        position: relative;
        z-index: 100;
        top: 0;
        padding: 15px 0;
        height: 60px;
        display: flex;
        justify-content: space-between;
        .input{
            width: 25%;
            #search_input{
                width: 100%;
                height: 30px;
                position: relative;
                // margin: 0 20px;
                i{
                    position: absolute;
                    color: #B0ABAB;
                    z-index: 10;
                    top: 50%;
                    transform: translateY(-40%);
                    left: 10px;
                    // width: 20px;
                    // height: 20
                }
                input{
                    box-sizing: border-box;
                    position: absolute;
                    width: 100%;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid #B0ABAB;
                    font-size: 1.1rem;
                    background-color: #F9F9F9;
                    text-indent: 2rem;   
                    outline:none;
                }
                
            }
            .keyword{
                // margin-left: 20px;
                width: 100%;
                background-color: #fff;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
                overflow: hidden;
                .text_results{
                    width: 100%;
                    height: 25px;
                    cursor: pointer;
                    // transition: .2s;
                    overflow: hidden;
                    text-indent: 10px
                }
                .text_results:hover{
                    background-color: rgba(255, 141, 10, 0.623);
                }
                .text_results.close{
                    height: 0;
                    transition: none;
                }
            }
        }
        .sel{
            // box-sizing: border-box;
            width: 100px;
            height: 32px;
            border: 1px solid #B0ABAB;
            border-radius: 5px;
            background: url(../../../images/down_arrow.svg) no-repeat right 5px center;
            background-size: 12px;
            -webkit-user-select: none;   /* for Chrome */
            -moz-user-select: none;  /* for Firefox */ 
            cursor: pointer;
            outline:none;
            .first{
                height: 32px;
                text-align: left;
                text-indent: .5rem;
                line-height: 32px;
            }
            .option{
                width: 100px;
                overflow: hidden;
                text-align: center;
                transform: translateX(-1px);
                div{
                    height: 0;
                }
            }
            .option.open{
                box-sizing: border-box;
                border: 1px  solid #B0ABAB;
                border-top: none;
                border-radius: 0px 0px 5px 5px;
                div{
                    width: 100px;
                    height: 32px;
                    width: 100%;
                    cursor: pointer;
                    line-height: 32px;
                    background-color: #fff;
                    transition: .3s;
                }
                div:hover{
                    background-color: #ddd;
                }
            }
        }
        .sel.open{
            border-bottom: none;
            border-radius: 5px 5px 0px 0px ;
        }
        #sel_city{
    
        }
        #sel_cate{
    
        }
        #search-btn{
            width:75px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border: none;
            background-color: #FF8E0A;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            -webkit-user-select: none;   /* for Chrome */
            -moz-user-select: none;  /* for Firefox */ 
        }
    }
    
}