#pro_price{
    width: 100%;
    // border: 1px solid #000;
    // background-color: #fff;
    // border-radius: 5px;
    height: 80px;
    display: flex;
    #price{
        height: 80px;
        width: 40%;
        // border-right: 1px solid #000;
        p{
            margin: 0;
            font-size: 1.2rem;
            font-weight: 700
        }
        #price_p{
            color: #D0104C;
            font-size: 40px;
            font-weight: 700;
            text-align: center;
        }
        .up{
            color: #D0104C;
            font-size: 1.2rem;
        }
    }
    .w60{
        height: 60px;
        border-left: 1px solid #000;
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            background-color: #F7882F;
            width: 60%;
            height: 40px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2rem;
            color: #fff;
            font-weight: 700;
            text-align: center;
            line-height: 39px;
        }
    }
}