#pro_buy_rule{
    margin-top: 30px;
    .text{
        border-top: 3px solid #F7882F;
        text-align: left;
        box-sizing: border-box;
        padding-right: 10px;
        p{
            text-indent: 2rem;
            line-height: 2rem;
        }
    }
}