@mixin  breakpoint($point){
    @if $point == mobile {
        @media only screen  and (max-width: 959px) { @content; }
    }     
}
#pro_info{
    margin-top: 30px;
    @include breakpoint(mobile) {
        margin: 30px 5%;
    }
    h3{
        margin: 10px 0 8px 0;
        line-height: 3rem;
        @include breakpoint(mobile) {
            text-align: center;
        }
    }
    #pro_info_text{
        border-top: 3px solid #F7882F;
        box-sizing: border-box;
        padding: 20px 10px 0 10px;
        p{
            text-indent: 2rem;
            line-height: 2rem;
        }
    }
    
}