#pro_map{
    width: 100%;
    border: 1px solid #B0ABAB;
    height: 20vw;
    margin-top: 72px;
    border-radius: 10px;
    overflow: hidden;
    iframe{
        width: 100%;
        height: 20vw;
    }
}