#pro_share{
    box-sizing: border-box;
    margin-top: 30px;
    width: 100%;
    border-radius: 5px;
    // height: 100px;
    border: 1px solid #B0ABAB;
    background-color: #fff;
    display: flex;
    padding: 10px 0;
    #favor{
        width: 60%;
        border-right: 2px solid #F7882F;
        
        div{
            height: 40px;
            width: 150px;
            margin: auto;
            border-radius: 5px;
            display: flex;
            align-items: center;
            // justify-content: space-around;
            cursor: pointer;
            img{
                margin: 0 10px;
                width: 35px;
                height: 35px;
            }
            p{
                font-weight: 700;
            }
        }
        #add_favor{
            background-color: #F7882F;
            p{
                color: #fff;
                margin: 0;
            }
        }
        #add_favor2{
            background-color: #ccc;
            padding-left: 50px;
            p{

                color: #fff;
                margin: 0;
            }
        }
        #add_record{
            background-color: #F7C331;
            margin-top: 10px;
            p{
                margin: 0;
            }
        }
    }
    #share{
        width: 40%;
        text-align: center;
        p{
            margin: 5px;
            font-weight: 700;
        }
        div{
            display: flex;
            justify-content: center;
            
            div{
                margin-top: 10px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-size: 40px 40px;
                cursor: pointer;
            }
            #fblogo{
                background-image: url(../../images/fblogo.png);
                
            }
            #linelogo{
                background-image: url(../../images/linelogo.png);
                margin-left: 10px;
            }
        }
    }
}