.collect_title_line {
    border-top: 1.5px solid #F7882F;
}

.colcard {
    width: 240px;
}

.collect_img {
    width: 100%;
    height: 140px;
}

.collect_clogo {
    border-radius: 50%;
    margin-top: -80px;
}

.del-btn {
    border-radius: 50%;
    margin-top: -310px;
    margin-left: 180px;
    width: 40px;
    height: 40px;
}

.card-title{
    margin-top: -20px;
}

.collect_info {
    margin-top: 15px;
}

.collect_price_style {
    color: red;
    font-weight: bold;
    font-size: 18px;
}