#pro_name{
    // width: 100%;
    h2{
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    div{
        // box-sizing: border-box;
        // padding: 5px;
        .jc_sb{
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                display: flex;
                list-style: none;
                padding: 0;
                margin: 5px 0 20px 0;
                li{
                    margin-right: 10px;
                    // color: #876633;
                    // color: #E8A53D;
                    color: #C09147;
                    border: 1.5px solid #C09147;
                    border-radius: 12.5px;
                    font-weight: 800;
                    width: 70px;
                    height: 25px;
                    text-align: center;
                }
            }
            select{
                height: 25px;
                margin-right: 20px;
            }
        }
        .img_info{
            display: flex;
            .info{
                .info_list{
                    margin: 5px 0;
                    text-indent: 2rem;
                }
            }
            
        }

    }
    
}