#pro_info{
    margin-top: 30px;
   
    h3{
        // margin: 0;
        
        line-height: 3rem;
    }
    #pro_info_text{
        border-top: 3px solid #F7882F;
        box-sizing: border-box;
        padding-right: 10px;
        p{
            text-indent: 2rem;
            line-height: 2rem;
        }
    }
    
}