.button{
    width: 200px;
    height: 50px;
    background-color: #F7882F;
    border-radius: 10px;
    border:1px solid #ccc;
    color: white;
    text-align: center;
    // line-height: 1;
    padding: 12px;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    .span{
        margin: 2px;
    }
}