#pro_filter{
    margin-top: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #B0ABAB;
    border-radius: 5px;
    div{
        // width: 25%;
        h4{
            border-bottom: 2px solid #F7882F;
            margin: 0;
        }
        .filter{
            box-sizing: border-box;
            padding: 10px;
            margin-top: 15px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            // align-items: flex-start;
            justify-content: center;
            height: 200px;
            border-right: 1px solid #B0ABAB;
            div{
                width: 50%;
                min-height: 20px;
                background: url(../../../images/unchecked.png) no-repeat left center;
                background-size: 20px;
                text-indent: 25px;
                line-height: 31.66px;
                cursor: pointer;
                // text-align: center;
            }
        }
        #city_filter{

        }
        #cate_filter{
            div{
                width: 33%;
            }
        }
        #pro_filter{

        }
        #price_filter{
            border: none;
            div{
                width: 100%;
            }
        }
    }
    
}