.group_title_line {
    border-top: 1.5px solid #F7882F;
}

.group_img {
    // width: 265px;
    // height: 175px;
    width: 100%;
    max-height: 175px;
}

.group_num_style {
    color: black;
    font-size: 26px;
    font-weight: bolder;
}

.group_num_style2 {
    color: darkblue;
    font-size: 26px;
    font-weight: bolder;
}

.group_num_style3 {
    color: red;
    font-size: 26px;
    font-weight: bolder;
}

.group_date_style {
    color: firebrick;
    font-size: 20px;
    font-weight: bolder;
}

.joinuser-img {
    width: 25px;
    height: 25px;
}

.scrollme {
    height: 150px;  
    overflow-y: auto;
}

.group_title_items {
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

.group_price_style {
    color: red;
    font-weight: bold;
    font-size: 18px;
}