.order_title_line {
    border-top: 1.5px solid #F7882F;
}

.order_title_items {
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

.order_status_item {
    color: red;
    font-weight: bolder;
}

.order_status2_item {
    color: blue;
    font-weight: bolder;
}

.order_img {
    // width: 265px;
    width: 100%;
    max-height: 175px;
}