<div class="topicIntro">
    <div class="topicImgBox">
        <img class="topicImgs" src="../img/xmas.jpg">
    </div>
    <p>說到十二月，大家會想到什麼呢？<br>
        沒錯，心裡是不是馬上浮現出了「叮叮噹～叮叮噹～鈴聲多響亮」的旋律呢？<br>
        雖然聖誕節是來自西方的宗教節日，但是在台灣這麼international的環境，近年過聖誕的氣氛也是非常濃厚！！<br>
        而聖誕節看似是專屬於情侶的節日，其實在西方國家都是利用此時的假期與家人好好團聚一番～～<br>
        而在這一年的尾聲，是不是也應該跟好朋友來一場暖心的密室逃脫呢～？<br>
        小編幫大家整理了與聖誕節相關的主題，趕緊來看看有沒有你還沒玩過的！</p>
</div>

<div class="py-3 border-bottom">
    <div class="topicImgBox">
        <img class="topicImgs" src="../img/game/智慧獵人_VICKEYSPACE_01.jpg">
    </div>
    <div class="">
        <h4 class="topicTitles">Vicky</h4>
        <div class="">
            <p class="topicSmallHead">遊戲簡介：</p>
            <p>
                「我很乖，為什麼你要躲起來讓我找不到？」<br>
                「聖誕老人求求你，我不要禮物了，你把爸爸帶回來好不好？」<br>
                <br>
                2034 年的平安夜，小女孩坐在客廳的聖誕樹下，數著樹上掛燈的顏色，念念有詞的望向門口，盼望那個熟悉的身影能再次出現。
            </p>
        </div>
        <div class="rcmdWords">
            <p class="topicSmallHead">推薦理由：</p>
            <p>
                說到聖誕節，小編第一個想到的就 Vicky 這款遊戲呀！背景設定在 2034 年的平安夜，是不是聽起來就充滿了未來感呢？<br>
                這款遊戲以一個小女孩的願望為出發點，整個遊戲過程都緊扣著平安夜這個主題，到了遊戲結束後聽解說才知道平安夜這個關鍵詞居然暗藏玄機！<br>
                除了劇情設定非常平易近人之外，這款遊戲還利用了非常多科技的元素，身為喜歡玩機關的人絕對不能錯過喔！！
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/proList/products/8"><button type="button" class="btn btn-info">看看更多關於 Vicky 的介紹</button></a>
    </div>
</div>

<div class="py-3">
        <div class="topicImgBox">
            <img class="topicImgs" src="../img/game/Qhat帽子烤_人魚之森_01.png">
        </div>
        <div class="">
            <h4 class="topicTitles">人魚之森</h4>
            <div class="">
                <p class="topicSmallHead">遊戲簡介：</p>
                <p>
                    一片危險的海域上，充滿著暗礁與海草，水手都稱之為「人魚之森」，相傳每年十二月一號，海面上會露出一個岩洞，流傳著諸多關於人魚的傳說故事。<br>
                    <br>
                    赤蠵丸，一艘前往世界各地追尋各式珍奇異寶的探險船，正往人魚之森出發一探究竟。<br>
                    <br>
                    但，一切真的會如此順利嗎？<br>
                    你能順利從這座人魚之森中逃出、帶走傳說中的祕寶嗎？<br>
                </p>
            </div>
            <div class="rcmdWords">
                <p class="topicSmallHead">推薦理由：</p>
                <p>
                    雖然這款遊戲乍看之下與聖誕節沒有關係，但你注意到了嗎？<br>
                    人魚之森是少數將發生的日期點出的遊戲，而且還是發生在十二月的第一天！<br>
                    這款遊戲走的是日式風格，不僅劇情有相當縝密的安排，就連道具機關上都有相當多巧思。<br>
                    而最厲害的就是他們的場景了！！至於場景有多厲害就留待大家自行體會囉～～
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="/proList/products/3"><button type="button" class="btn btn-info">看看更多關於 人魚之森 的介紹</button></a>
        </div>
    </div>