$mainColor: #F7882F;
$spaceForHeaderNav : 64px;
$spaceForHeaderNavMobile : 40px;
// desktop: header = 64px, nav = 48px
// mobile: header = 40px

// desktop version shows when width >= 960px



@media only screen and (min-width: 960px){
    .header{
        position: fixed;
        background-color: $mainColor;
        height: $spaceForHeaderNav;
        width: 100vw;
        // color: white;
        z-index: 1050;
        .mainLogo{
            display: block;
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img{
                height: $spaceForHeaderNav;
            }
        }
        .memberStatus{
            display: block;
            position: relative;
            float: right;
            top: 50%;
            transform:translateY(-50%);
            right: 10%;
        }
        .mobileMenuOpenBtn{
            display: none;
        }
        .mobileMenuCloseBtn{
            display: none;
        }
    }
    .login-style {
        display: block;
        position: relative;
        float: right;
        top: 50%;
        transform:translateY(-50%);
        right: 10%;
        font-size: 16px;
        font-weight: bold;
        color: white;
        margin-left: 20px;
        margin-top: 8px;
        a:hover .login-style {
            color: bisque;
        }
    }
    .login-style2 {
        display: block;
        position: relative;
        float: right;
        top: 50%;
        transform:translateY(-50%);
        right: 10%;
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }
    .mobileMenu{
        display: none;
    }

    .goToTop{
        $spaceForGoToTop: 48px;
        position: fixed;
        right: 24px;
        bottom: $spaceForGoToTop;
        height: $spaceForGoToTop;
        width: $spaceForGoToTop;
        background: $mainColor;
        border: 2px solid transparent;
        border-radius: 8px;
        z-index: 100;        
        .fa-angle-double-up{
            display: block;
            color: white;
            font-size: 28px;
            text-align: center;
            line-height: $spaceForGoToTop;
        }
        &:hover{
            background-color: white;
            border: 2px solid $mainColor;
            .fa-angle-double-up{
                color: $mainColor;
            }
        }
    }
    .navList{
        position: relative;
        top: $spaceForHeaderNav;
        background-color: #6B7A8F;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: center;
        .navItem{
            padding: 12px 56px;
            font-size: 1em;
            color: white;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                // background-color: $mainColor;
                opacity: 0.8;
            }
            .linkClear{
                color: white;
                &:hover{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    .footer{
        position: relative;
        top: $spaceForHeaderNav;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #444444;
        color: white;
        .footerList{
            padding: 12px;
            list-style: none;
            font-weight: 600;
            .footerItem{
                font-weight: 400;
            }
            .subscribeInput{
                border-radius: 24px;
                height: 2.4em;
                font-size: 1em;
                line-height: 2.4em;
            }
            .socialIcon{
                width: 48px;
            }
        }
        .linkClear{
            color: white;
            &:hover{
                color: $mainColor;
            }
        }
    }
    
    .copyright{
        position: relative;
        top: $spaceForHeaderNav;
        background-color: black;
        color: #444444;
        h6{
            padding: 8px;
            text-align: center;
            margin: 0;
        }
    }
}


// mobile version shows when width < 960px
@media only screen and (max-width: 959px){
    .header{
        position: fixed;
        background-color: $mainColor;
        height: $spaceForHeaderNavMobile;
        width: 100vw;
        // color: white;
        z-index: 1050;
        overflow: visible;
        .mainLogo{
            display: block;
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img{
                height: $spaceForHeaderNavMobile;
            }
        }
        .memberStatus{
            display: none;
            // display: block;
            // position: relative;
            // float: right;
            // top: 50%;
            // transform:translateY(-50%);
            // right: 10%;
        }
        .mobileMenuOpenBtn{
            display: block;
            // display: none;
            position: relative;
            float: right;
            top: 50%;
            transform:translateY(-50%);
            right: 5%;
            color: white;
            .fa-bars{
                font-size: 24px;
                text-align: right;
            }
        }
        .mobileMenuCloseBtn{
            // display: block;
            display: none;
            position: relative;
            float: right;
            top: 50%;
            transform:translateY(-50%);
            right: 5%;
            color: white;
            .fa-times{
                font-size: 24px;
                text-align: right;
            }
        }
        .d_none{
            display: none;
        }
        
        .d_block{
            display: block;
        }

    }

    .mobileMenu{
        display: none;
        // position: relative;
        position: fixed;
        right: 0;
        width: 12em;
        // height: 500px;
        top: $spaceForHeaderNavMobile;
        z-index: 10;
        background-color: white;
        box-shadow: -2px 2px 8px rgba(0,0,0,0.5);

        .mobileMenuItem{
            border-bottom: 1px solid $mainColor ;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            // padding-left: 40%;
            padding-left: 1.5em;
            font-size: 1.2em;
            font-weight: 700;
            // text-align: center;
            .login-style {
                // display: block;
                // position: relative;
                // float: right;
                // top: 50%;
                // transform:translateY(-50%);
                // right: 10%;
                // font-size: 16px;
                // font-weight: bold;
                // color: white;
                // margin-left: 20px;
                // margin-top: 8px;
                
            }
            .logOutLine{

                border-bottom: 1px solid $mainColor ;
            }
            .login-style2 {
                color: black;
                font-size: 1.2em;
                font-weight: 700;
            }
            .mobileMenuItemChild{
                margin-bottom: 2px;
                padding: 0;
                
                list-style: none;
                
                .mobileMenuItemChildList{
                    // padding-left: 1em;
                    padding-top: 0.2em;
                    padding-bottom: 0.2em;
                    font-size: 1em;
                    font-weight: 500;
                }
            }
        }
    }
    .linkClear{
        color: black;

    }
    .d_block{
        display: block;
    }
    .goToTop{
        display: none;
        $spaceForGoToTop: 40px;
        position: fixed;
        right: 5%;
        bottom: $spaceForGoToTop;
        height: $spaceForGoToTop;
        width: $spaceForGoToTop;
        background: $mainColor;
        border: 1px solid transparent;
        border-radius: 8px;
        z-index: 100;
        .fa-angle-double-up{
            display: block;
            color: white;
            font-size: 28px;
            text-align: center;
            line-height: $spaceForGoToTop;
        }
    }
    .navList{
        display: none;
        position: relative;
        top: $spaceForHeaderNavMobile;
        background-color: #6B7A8F;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: center;
        .navItem{
            display: none;
            padding: 12px 56px;
            font-size: 1em;
            color: white;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                // background-color: $mainColor;
                opacity: 0.8;
            }
            .linkClear{
                color: white;
                &:hover{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }


    .footer{
        display: none;
        position: relative;
        top: $spaceForHeaderNavMobile;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #444444;
        color: white;
        .footerList{
            display: none;
            padding: 12px;
            list-style: none;
            font-weight: 600;
            .footerItem{
                font-weight: 400;
            }
            .subscribeInput{
                border-radius: 24px;
                height: 2.4em;
                font-size: 1em;
                line-height: 2.4em;
            }
            .socialIcon{
                width: 48px;
            }
        }
    }

    .copyright{
        // display: none;
        position: relative;
        top: $spaceForHeaderNavMobile;
        background-color: black;
        color: #444444;
        h6{
            padding: 6px;
            text-align: center;
            margin: 0;
        }
    }
}





// .login-style {
//     display: block;
//     position: relative;
//     float: right;
//     top: 50%;
//     transform:translateY(-50%);
//     right: 10%;
//     font-size: 16px;
//     font-weight: bold;
// }

// .login-style2 {
//     display: block;
//     position: relative;
//     float: right;
//     top: 50%;
//     transform:translateY(-50%);
//     right: 10%;
//     font-size: 16px;
//     font-weight: bold;
//     margin-top: 30px;
// }