#date_picker{
    min-width: 126px;
    width: 100%;
    height: 300px;
    border: 1px solid #000;
    h5{
        text-align: center;
    }
    table{
        display: flex;
        flex-direction: column;
        tr{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-around;
            th{
                min-width: 18;
            }
            .text-red{
                color: #D75A4A;
            }
        }
        .weeks{
            width: 100%;
            display: flex;
            list-style: none;
            padding: 0;
            justify-content: space-around;
            flex-wrap: wrap; 
            td{
                min-width: 18;
                width: 1rem;
                text-align: right;
            }
        }
    }
}